<div class="sidebar" id="sidebar">
  <div class="button-open-sidebar" id="open-button">
    <img src="/components/sidebar/arrow-left.svg" alt="open-sidebar" />
  </div>
  <div class="lista">
    <ul>
      <li>Meus treinos</li>
      <li>Criar treino</li>
      <li>Sugestões</li>
      <li>Minhas refeições</li>
    </ul>
  </div>
  <div class="perfil">
    <div>
      <div class="foto-perfil">
        <h2>M</h2>
      </div>
    </div>
    <div class="nome-perfil">
      <h3>Martiniano Gomes</h3>
      <p>martingomes@gmail.com</p>
    </div>
    <div>
      <img src="/components/sidebar/Logout.svg" alt="logout" />
    </div>
  </div>
</div>
<script src="./sidebar.js"></script>
